{% load static %}
<!DOCTYPE html>
<html >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Census Predictor</title>
        <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
        <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    </head>
    <body>

     <form method='POST' action='/predict/'> {% csrf_token %}

        <h1>SMS Spam Detection</h1>

        <fieldset>
          <legend>Input Variables</legend>
          <label for="sms_body">SMS:</label>
          <input type="text" id="sms_body" name="sms_body">
        </fieldset>


        <button type="submit">Detect</button>
      </form>

    </body>
</html>